.dashboard-body{
	height: -webkit-fill-available;
		background-color: #e8e8e8;

}

.logo{
	width: 10px;
	height: 10px;
	border-radius: 5px;
}


.sections{
	margin-top: 20px;
}

.content{
	width: 100%;
	background-color: #e8e8e8;
	float: left;
	margin-top: 35px;
}


.user-section{
	width: 30%;
	float: left;
}

.card{
	width: 90%;
	float: right;
	background-color: white;
	border-radius: 5px

}


.cover-image{
	width: 100%;
	height: 170px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.username{
	margin-top: 0;
	text-align: center;

}

.user-friends{
	width: 100%;
}


.user-data{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.user-data li{
	float: left;
	width: 33%;
	text-align: center;
}


.timeline-profile-pic{
	width: 20%;
	height: 20%;
	margin-top: -15%;
	margin-left: 5%;
	z-index: 1;
	border-radius: 50%;
	border:3px solid white;

}

.card ul{
	list-style-type: none;
}


.view-options ul{
	padding: 0;
}

.view-options li{
	padding: 5px;
}

.view-options li:hover{
	background-color: #bfd0de;
	cursor: pointer;
}


.view-options a{
	color: black;
	text-decoration: none;
}

.timeline{
	width: 60%;
	float:left;
	margin-left: 5%
}


.post-section{
	width: 100%;
	background-color: white;
	padding: 15px;
	margin-bottom: 15px;
	border-radius: 5px;
	float: left;
}


.author{
	width: 50px;
	float: left;
}

.post-img{
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.context{
	float: right;
	width: 90%;
	margin-bottom: 15px;
}

.context p{
	margin-top: 5px;
}

.post-info{
	width: 100%;
	float: left;
}


.reply-button{
	float: right;
	border-radius: 25px;
}


.comment{
	background-color: #bfd0de;
	border-radius: 10px;
	margin-top: 5px;
}



