.event{
	width: 90%;
	margin: 0 5% 0 5%;
}

.event-image{
	width: 300px;
	height: 300px;
	float: left;
	margin-top: 30px
}

.main-view{
	width: 100%;
	background-color: white;
	padding: 15px;
	margin-bottom: 15px;
	border-radius: 5px;
	float: left;
}

.event-info{
	float: right;
	width: 70%;
}

.event-action{
	margin-top: 20px
}

.event-button{
	margin-top: 5px;
}