.section{
	border-radius: 10px;
	display: inline-block;
	background-color: white; 
	width: 95.5%;
	margin: 2%;
}

.section h1{
	margin-bottom: 0;
}


.friends-search-input{
	width: 200px;
	float: right;
	margin-bottom: 15px;
}

.all-users-search-input{
	margin-top: 15px;
	margin-bottom: 10px;
}

.friends-search{
	padding: 5px;
	display: block;
}

.friend{
	display: inline-block;
	width: 31%;
	margin-left: 1%;
	margin-right: 1%;
	margin-top: 15px;
	height: 170px;
	background-color: white;
	border-radius: 5px
}

.friend p{
	margin: 0;
}

.friend-cover{
	width: 100%;
	height: 70px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	object-fit: cover;
}

.friend-profile-pic{
	width: 50px;
	height: 50px;
	margin-top: -15%;
	margin-left: 5%;
	z-index: 1;
	border-radius: 50%;
	border:3px solid white;
}


.delete-friend{
	margin: 0px 5px 0px 0px;
}

.friend-list{
	background-color: #e8e8e8;
}