.top-left{
	padding: 40px;
	border-top-left-radius: 200px;
}

.top-right{
	padding: 40px;
	border-top-right-radius: 200px;
}

.bottom-left{
	margin-top: 5px;
	padding: 40px;
	border-bottom-left-radius: 200px;
}

.bottom-right{
	margin-top: 5px;
	padding: 40px;
	border-bottom-right-radius: 200px;
}

.game-section{
	width: 200px;
	margin-left: 40%;
}