.content{
	width: 100%;
	float: left;
	height: -webkit-fill-available;
	margin-top: 40px;
}

.group-body{
	background-color: #e8e8e8;

}


.group-bar{
	border-radius: 10px;
	display: inline-block;
	background-color: white; 
	width: 90%;
	float: left;
	margin: 2% 5% 0 5% ;
}

.group-input{
	width: 250px;
	float: left;
	margin-top: 10px;
}

.group-add{
	width: 150px;
	float: right;
	margin-bottom: 10px;
}

.group-items{
	margin: 5px
}


.group-list-items{
	margin-left: 10px;
	margin-bottom: 10px;
}

.group-button{
	height: 40px;
	float: right;
	margin: 10px 5px 10px 0;
}

.search-friend{
	width: 90%;
	margin: 5%;
}

.invite-button{
	height: 40px;
	width: 90%;
	margin: 0 5% 5% 5%;
}

.pagination-button{
	margin: 5px
}