body{
	margin: 0;
}

.hide{
	display: none
}

.main-canvas{
	background-color: #2081ce;
}

.image{
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
	position: relative;
	height: -webkit-fill-available;
	display: grid;
}

.header{
	text-align: center;
	font-style: oblique
}


.form{
	width: 30%;
	margin-left: 35%;
	margin-right: 35%;
	margin-top: 5%;
	border: 1px solid black;
	display: none;
	padding: 10px;
	border-radius: 12px;
	background-color: #ffffff;
}


.input-div{
	width: 100%;
	position: relative;
	margin-bottom: 25px;
}

.input{
	padding: 5px;
	width: 100%;
	border-radius: 5px;
	border: 1px solid gray;
	box-sizing : border-box;
}

.select{
	width: 90%;
	margin: 5%;
}

.textarea{
	width: 100%;
	border-radius: 5px;
	border: 1px solid gray;
	padding: 5px
}

.button{
	color: white;
	padding: 14px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
}

.button-center{
	margin: 0 15%;
	width: 70%;
}

.button-primary{
	background-color: blue;
}

.button-success{
	background-color: green;
}

.button-default{
	background-color: yellow;
}

.button-danger{
	background-color: red;
}


.show-element{
	display: block !important;
}

.hide-element{
	display: none  !important;
}

table{
	width: 100%;
}

td{
	text-align: center;;
}