.message-bar{
	border-radius: 10px;
	display: inline-block;
	background-color: white; 
	width: 90%;
	float: left;
	margin: 2% 5% 2% 5% ;
	height: inherit;
}


.messages{
	width: 98%;
	height: 75%;
	margin-bottom: 2%;
	margin-left: 1%;
	display: inline-block;
	position: relative;
	overflow-y: scroll;
}

.friend-message{
	background-color: #bfd0de;
	
}

.user-message{
	background-color: #74d674;
}


.send-message{
	width: 100%;
	height: 10%;
}

.message-inbox{
	padding: 0;
	margin: 0 0 0 1%;
	width: 93%;
	float: left;
}


.send-message-button{
	float: left;
	width: 5%;
	height: 47px;
}


html{
	height: 100%;
}

.group-body {
	height: 100%;
}

.content{
	width: 100%;
	float: left;
	height: 100%;
	margin-top: 40px;
}


.message{
	border-radius: 10px;
	margin-top: 5px;
	width: 98%;
	margin-left: 1%;
	height: 60px;
}

.friend-image{
	width: 50px;
	float: left;
}

.user-image{
	width: 50px;
	float: right;
}

.user-text{
	margin:10px;
	float: left;
}

.friend-text{
	margin:10px;
	float: right;
}