.head{
	width: 100%;
	height: 40px;
	background: #4496d8;
	position: fixed;
	top: 0;
	float: left;
	z-index: 100000;
}

.head p {
	margin-top: 0px;
}


.navigation-item{
	text-decoration: none;
	padding-bottom: 5px;
}

.navigation-item p {
	text-align: right; 
	display:inline-block;
	padding: 0;
	font-size: 14px;
	color: white;
	margin-top: 7px;
	margin-left: 3px;
}

.navigation-item img {
	float: left;
}


.navigation-icon{
	width: 20px;
	height: 20px;
	border-radius: 5px;
	margin-top: 3px; 
}

.navigation-actions{
	display: inline-block;
	width: 40%;
	float: left;
}

.navigation-actions ul {
	list-style-type: none;
	margin: 0;
	padding-top: 5px;
}

.navigation-actions li {
	float: left;
	margin-right: 10px;
}


.search-bar{
	width: 30%;
	display: inline-block;
	float: left;
	margin-top: 5px;
}

.search-bar .input-div{
	margin-bottom: 0;
}

.search-bar .input{
	width: 90%;
	float: left;
	border-radius: 0;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 1px solid white;
}

.user-bar{
	width: 10%;
	float: right;
}


.user-dropdown{
	float: right;
}


.user-icon{
	height: 30px;
	width: 30px;
	border-radius: 50%;
	padding: 5px;
	cursor: pointer;
	float: right;
}



.dropdown-items {
	display: none;
	position: inherit;
	background-color: #f9f9f9;
	z-index: 100;
	margin-top: 40px;
	border: 1px solid black;
	border-bottom-left-radius: 5px;
}

.dropdown-items ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
	width: 100px;
}

.dropdown-items li{
	padding: 5px;
}

.dropdown-items li:hover{
	background-color: #bfd0de;
}

.dropdown-items  a {
	color: black;
	text-decoration: none;
}


.search-icon{
	width: 15px;
	height: 15px;
	background: white;
	padding: 6px;
	float: left;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	cursor: pointer;
	border-left: 1px solid white;
}

