.cover{
	height: 250px;
	width: 100%;
}

.profile-body{
	background-color: #e8e8e8;

}

.cover img{
	width: inherit;
	height: inherit;
	object-fit: cover;
}

.hud{
	height: 70px;
	background-color: white;
}

.profile-pic{
	width: 200px;
	height: 200px;
	margin-left: 5%;
	margin-top: -10%;
	z-index: 1;
	border-radius: 50%;
	border:3px solid white;
}

.content{
	width: 100%;
	float: left;
	height: -webkit-fill-available;
	margin-top: 40px;
}

.user-action{
	margin-top: 12px;
	margin-right: 5px;
	border-radius: 20px;
	float: right;
}

.user-hud{
	float: right;
	width: 60%;
}

.user{
	float: left;
}

.user-info{
	float: left;
	width: 200px;
	margin-left: 5%;
}

.user-form{
	padding: 15px;
}

.user-form p{
	margin-bottom:  5px;
}

.edit-profile-button{
	width: 100px;
	float: left;
	margin: 0 0 15px 0;
}

.edit-password-button{
	width: 150px;
	float: left;
	margin: 0 0 15px 0;
}